*{
  margin:0;
  padding:0;
}

@font-face{
  font-family:'TruenoExBd';
  src:url('font/truneo/TruenoExBd.otf') format('opentype');
}

@font-face{
  font-family:'urwblack';
  src:url('font/urw_Bold.ttf') format('truetype');
}

@font-face{
  font-family:'urwcond_bold_ok_titre_menu';
  src:url('font/urwcond_bold.otf') format('opentype');
}

@font-face{
  font-family:'urwcond_light_ok_titre_menu_span';
  src:url('font/urw_regular.otf') format('opentype');
}

body{
  width:100%;
  height:100vh;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left:;
  width:100%;
  height:65px;
  background-color: #2d2f2c;
}

.menu{
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:77%;
}

.gauche, .droite{
  width:30%;
  height:45px;
  font-family:'urwcond_bold_ok_titre_menu';
}

.haut{
  width:20%;
  height:60px;
}

li{
  list-style: none;
}

header a{
  text-decoration: none;
  color:white;
}

li a{
  font-size:1.1em;
  font-weight: bold;
}

li a span{
  font-size:0.5em;
  font-family:'urwcond_light_ok_titre_menu_span';
}

.gauche{

}

.droite{

}

.gauche ul li a, .droite ul li a{
  flex-direction: column;
  text-align: center;
  height:50px;
  width:100%;
}

.gauche ul li, .droite ul li{
  display:flex;
  height:50px;
  width:100%;
}

.gauche ul, .droite ul{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-top:5px;
  width:100%;
  height:62px;
}

.sociaux{
  font-size:0.7em;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width:12%;
  height:62px;
}

.textehaut{
  width:100%;
  font-family:'urwcond_bold_ok_titre_menu';
}

.sociaux .logo_sociaux a.logo{
  font-size:1.5em;
}

.facebook, .tumblr{
  width:20px;
  height:20px;
  border-radius:5px;
  background-color:rgba(255,255,255,0.5);
  text-align: center;
}

.tumblr{
  margin-left:5px;
}

.logo_sociaux{
  display: flex;
  align-self: flex-end;
  margin-top:10px;
  padding-right:30px;
  width:50%;
  height:40px;
}

#corps_de_page{
  background-image: url('images/imagemenu.png');
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bouton{
  position:relative;
  height:30px;
  width:300px;
}

.fleche_droite, .fleche_gauche{
  height:50px;
  width:20px;
}

.fleche_droite{
  margin-left:100px;
}

.fleche_gauche{
  margin-right:100px;
}

.fleche_droite img, .fleche_gauche img{
  height:100px;
}

.millieux{
  width:70%;
  height:90%;
  display: flex;
  align-items: flex-end;
}

.textemillieux{
  width:35%;
  height:70%;
  font-family:'urwcond_bold_ok_titre_menu';
  font-size:2em;
  color:white;
  margin-left:50px;
}

.textemillieux span{
  font-family:'urwcond_light_ok_titre_menu_span';
  font-size:0.4em;
}

.textemillieux p{
  font-family:'urwcond_light_ok_titre_menu_span';
  font-size:0.4em;
  margin-bottom:10px;
}

hr{
  margin-top:10px;
  margin-bottom:10px;
}

.tag{
  float:left;
  height:40px;
  width:150px;
	position:relative;
	font-size:0.7em;
	text-decoration:none;
	color:white;
	text-shadow:0px 1px 0px rgba(255,255,255,.4);
	background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  z-index:0;
  display: flex;
  justify-content:center;
  align-items: center;
}

.tag::before{
  content:'';
	width:28px;
	height:28px;
	background-image: -moz-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -webkit-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
	position:absolute;
	right:-15px;
	top:6px;
	transform:rotate(45deg);
	z-index:2;
}
