@font-face{
  font-family:'new_yorker_bold';
  src:url('font/new_yorker/NewYorkerType_Bold.ttf') format('truetype');
}

@font-face{
  font-family:'new_yorker_regular';
  src:url('font/new_yorker/New Yorker Regular.ttf') format('truetype');
}

@font-face{
  font-family:'adobe';
  src:url('font/adobe/Adobe.ttf') format('truetype');
}

@font-face{
  font-family:'adobe2';
  src:url('font/adobe/acaslonpro-regular.otf') format('opentype');
}

@font-face{
  font-family:'ff_mark_pro_bold';
  src:url('font/FF_Mark_Pro_Bold.otf') format('opentype');
}

@font-face{
  font-family:'ff_mark_pro_black';
  src:url('font/FontFont_FF.Mark.Pro.Black.otf') format('opentype');
}

@font-face{
  font-family:'ff_mark_pro_bold2';
  src:url('font/FontFont_FF.Mark.Pro.Bold.otf') format('opentype');
}

*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  margin-top:100px;
}

#page{
  width:1000px;
  height:500px;
  display:flex;
  flex-direction: column;
  margin: auto;
}

hr{
  width:950px;
  height:1px;
  background-color:grey;
  opacity: 0.3;
  border:0;
}

img{
  width:40px;
}

.image_et_texte{
  display:flex;
  align-items: flex-end;
  width:500px;
  margin-top:20px;
  margin-bottom:20px;
}

.image_et_texte p{
  margin-left:10px;
  font-size:1em;
}

.image{
  background-color:black;
  border-radius:50px;
  width:50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family:'new_yorker_bold',arial, sans-serif;
  font-size:2.3em;
  margin-bottom:20px;
  font-weight:100;
}

.texte_lettrine{
  height:150px;
  width:900px;
  margin-top:20px;
  display:flex;
  align-items: center;
}

.paragraphe{
  font-family:'adobe2',arial, sans-serif;
  font-size:1.8em;
  height:90px;
  display:flex;
  align-items: center;
}

span{
  float:left;
	font-family:'adobe2',arial, sans-serif;
	font-size:3em;
	text-indent:0;
	margin-right:0.1em;
  height:90px;
}

.image_et_texte p{
  font-family:'ff_mark_pro_bold',arial, sans-serif;
}

.texte p{
  font-family:'adobe';
  font-size:2em;
}
