@font-face{
  font-family:'freight_big_bold';
  src:url('font/freight/Freight Big Pro Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'arboria_bold';
  src:url('font/arboria/Arboria-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'arboria_medium';
  src:url('font/arboria/Arboria-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:white;
  background-image:radial-gradient(black, white);
}

#vente{
  width:100%;
  display:flex;
  flex-direction: column;
}

.numero{
  width:23px;
  height:23px;
  border-radius:20px;
  border:2px #C73C25 solid;
  font-size:1em;
  color:#C73C25;
  text-align: center;
  margin-bottom:10px;
}

img{
  height:280px;
}

.chaton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

.chiot{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

.texte_chaton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:280px;
  width:200px;
}

.texte_chiot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:280px;
  width:200px;
}

h3{
  font-family: 'arboria_bold',arial, sans-serif;
  margin-bottom:5px;
  font-size:2.5em;
}

h4{
  font-family:'arboria_medium',arial, sans-serif;
  color: #C73C25;
  margin-bottom:5px;
  font-size:1.5em;
}

p{
  font-family:'freight_big_bold',arial, sans-serif;
  text-align: center;
  font-size:1.5em;
}

button{
  border: 0;
  border-radius:0;
  background-color:black;
  color:white;
  height:30px;
  width:90px;
  cursor: pointer;
  margin-top:10px;
}

 button:hover{
   background-color:white;
   color:black;
 }
