header{
  width:350px;
  height:60px;
  margin:0 auto;
  margin-top:20%;
}

header button{
  height:50px;
  width:150px;
  background-color:white;
  color:#ABC645;
  border:0;
  cursor: pointer;
  border:2px #ABC645 solid;
  border-radius:10px;
  font-size:1.7em;
  text-align: center;
  vertical-align: middle;
}

header button:hover{
  height:50px;
  width:150px;
  color:white;
  background-color:#ABC645;
  border:0;
  cursor: pointer;
}
