@font-face{
  font-family:'gilroy_extrabold';
  src:url('font/gilroy/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_light';
  src:url('font/gilroy/Gilroy-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_heavy';
  src:url('font/gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_bold';
  src:url('font/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_light';
  src:url('font/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_medium';
  src:url('font/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'gilroy_regular';
  src:url('font/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin:0;
  padding:0;
}

body{
  width:100%;
}

header{
  display: block;
  position: fixed;
  width:100%;
  top:0;
  background-color: #22DA94;
  text-align: center;
  height:150px;
  z-index:-1;
}

h1{
  font-family:'gilroy_bold',arial, sans-serif;
  font-size:5em;
  color:white;
  padding-top:15px;
}

h2{
  font-family:'gilroy_regular',arial, sans-serif;
  font-size:1.5em;
  margin-top:5px;
  margin-bottom:10px;
}

p{
  font-family:'gilroy_regular',arial, sans-serif;
  font-size:1em;
}

.textes{
  display: flex;
  justify-content: center;
  margin-top:130px;
  width:100%;
  z-index:2;
}

.texte1, .texte2, .texte3{
  background-color:white;
  padding:20px 10px 20px 10px;
  width:250px;
  height:170px;
  border:0.5px grey solid;
}

.bordure{
  height:190px;
  border-right: 5px dotted #22DA94;
  margin-left:10px;
  margin-right:10px;
  margin-top:20px;
}

.texte1 hr, .texte2 hr, .texte3 hr{
  width:40px;
  height:8px;
  background-color:#22DA94;
  border:0;
  margin:10px 0 20px 5px;
}
