*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #676767;
  color:#3C3D3C;
  height:100vh;
}

a{
  text-decoration: none;
  color:black;
}

#page{
  background-color: #FEF8F2;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-bottom:20px;
}

h1{
  text-shadow:1px 1px 2px #3C3D3C;
  margin-top:50px;
  margin-bottom:50px;
  font-size:3em;
}

.images{
  width:40%;
  height:300px;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin-top:45px;
}

.liens1{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.image1{
  width:200px;
  height:150px;
  border:2px #3B3B3B solid;
}

.liens2{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.image2{
  width:200px;
  height:auto;
  border:2px #3B3B3B solid;
}

.liens1 a, .liens2 a{
  padding-top:20px;
}

footer{
  background-color: #676767;
  height:50px;
  height:100px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;

}

footer a{
  color:#888888;
  width:250px;
  height:20px;
  margin-top:15px;
  margin-right:20px;
  font-size:1em;
}

a span{
  font-size:0.8em;
}

footer p{
  font-size:0.7em;
  color:white;
  margin-right:20px;
  margin-top:10px;
}
