*{
  margin:0;
  padding:0;
}

@font-face {
    font-family:'Museo300';
    src:url('font/museo_300_0-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700-Regular';
    src: url('font/museo_700-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family:'prisma';
  src:url('font/prisma-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'icomoon';
  src:url('font/icomoon.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: white;
  color:rgb(124, 124, 124);
  width:100%;
  font-family:'Museo300', Helvetica, sans-serif;
}

a{
  font-family:'Museo300', Helvetica, sans-serif;
  font-size:1em;
  text-decoration:none;
  color:#f1c41e;
}

#cacher{
  display:none;
}

.iconecacher{
  display: none;
}

.agglo a{
  display: none;
}

.haut{
  display:inline-flex;
  background-image:url("images/bg_top_md.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-color:white;
  height:75px;
  width:1205px;
  padding-left:150px;
}

header{
  height:100px;
  width:1205px;
}

.lang{
  background-color: #f0eeef;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top:4px;
  width:890px;
  height:38px;
  font-size: 1.4em;
  font-weight: 300;
}

.agglo img{
  height:70px;
  width:auto;
}

.agglo{
  padding-right:10px;
  padding-left:60px;
  height:70px;
  width:180px;
}

.englober{
  display:flex;
  flex-direction:column;
  height:75px;
  width:800px;
  margin-left:65px;
}

.ligne_verticale{
  width:5px;
  border-left:2px solid #F0C330;
  height:10px;

}

.language_contact{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
  height:25px;
  width:200px;
  font-size:0.7em;
  vertical-align: middle;
}

.language_contact a{
  color:#F0C330;
}

.search{
  height:20px;
  display:flex;
  justify-content:flex-end;
  margin-right:60px;
  margin-right:110px;
}

.search input{
  background-color:rgba(0,0,0,0.3);
  height:20px;
  width:190px;
  margin-top:2px;
  margin-right:5px;
  font-style: italic;
  font-size: 0.6em;
  font-weight: 100;
  line-height: 29px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 5px;
  border:0;
}

.search button{
  margin-top:2px;
  height:20px;
  width:20px;
  background-image: url('images/loupe.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-color:#F0C330;
  border:0;
  cursor: pointer;
}

nav{
  background-color:#F1C40F;
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:75px;
  width:850px;
  font-size:0.9em;
  font-weight: 900;
}

nav ul{
  list-style:none;
}

nav li{
  display:inline-flex;
  flex-direction: row;
  width:160px;
}

nav a{
  text-decoration:none;
  color:white;
}

.fil_ariane{
  height:30px;
  background-color:#F0EEEF;
  color:#a19694;
  display:inline-flex;
  align-items:center;
  width:1205px;
  padding-left:150px;
  padding-top:2px;
}

.fil_ariane a{
  list-style:none;
  text-decoration:none;
  color:#a19694;
}

#corps_de_page{
  width:1100px;
  height:800px;
  margin:50px 150px 50px 150px;
}

p{
  margin-top:10px;
  font-family:'Museo300', Helvetica, sans-serif;
  font-size: inherit;
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 300;
}

#corps_de_page h1{
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: 'Museo700-Regular', Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
  padding-left:10px;
}

h1 span{
  font-family:'prisma';
  color:#7c7c7c;
  font-size: 2.6em;
  font-weight: 400;
  line-height: .8em;
}

hr{
  height: 3px;
  width: 1100px;
  background-color: rgb(218, 218, 218);
  border:0;
}

.separateur hr{
  position: relative;
  z-index:0;
  height: 3px;
  width: 1100px;
  background-color: rgb(218, 218, 218);
  border:0;
}

.separateur span hr{
  position: absolute;
  z-index: 3;
  height: 3px;
  width:200px;
  background-color: #F1C40F;
  border:0;
}

p span{
  display:block;
  text-align:center;
}

.lien{
  display:block;
  text-align:right;
}

.image{
  margin-top:20px;
  height:400px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.image_lien{
  border:2px #B9DEF2 solid;
  width:587px;
  height:300px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* debut image millieux */
.opa:hover{
	opacity:0.7;
}

.lightbox{
  z-index:4;
	display:none;
	background-color:rgba(0,0,0,0.95);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}

.lightbox:target{
	display:table;
}

.lightbox a{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
/* fin image millieux */

#sociaux{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height:70px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#sociaux a{
  color:white;
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-weight: 400;
}

#sociaux img{
  vertical-align: middle;
  padding-right:5px;
  padding-left:0;
}

.liens1{
  background-color:#3A5998 ;
  line-height: 30px;
  width:120px;
}

.liens2{
  background-color: #55ACEE;
  line-height: 30px;
  margin-left:20px;
  width:120px;
}

.liens3{
  background-color: #738A8D;
  line-height: 30px;
  margin-left:20px;
  width:120px;
}

.liens4{
  background-color:#DC4E41;
  line-height: 30px;
  margin-left:20px;
  width:120px;
}

footer{
  background-color:#1F1F1F;
  color:white;
  font-size:0.7em;
  width:1055px;
  height:240px;
  padding:0 150px 10px 150px;
}

footer h1{
  font-size:1em;
}

.contact{
  display: flex;
  width:1100px;
}

.logo_footer{
  background-color:white;
  width:255px;
  height:200px;
  margin-left:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_footer img{
  height:90px;
}

.adresse{
  margin-left:20px;
  margin-top:20px;
}

.liste_sites{
  margin-left:20px;
  margin-top:20px;
  width:200px;
}

.liste_sites li{
  list-style-type: none;
  padding-left: 10px;
  color: #F1C40F;
  margin-right: 4px;
  margin-top:7px;
}

.liste_sites ul li::before{
  font-family:'icomoon';
  content: "\e918";
}

.liste_sites a{
  margin-left:4px;
  color:white;
}

.liste_sites a:hover{
  text-decoration: underline;
}

.newsletter{
  margin-left:20px;
  margin-top:20px;
  width:350px;
}

#formulaire{
  height:30px;
  display: inline-flex;
}

.newsletter input{
  width:300px;
  height:30px;
  background-color:#383838;
  border:0;
  color:white;
  font-style: italic;
  font-size: 1em;
  padding-left: 5px;
}

.newsletter a{
  background-color:#383838;
  height:auto;
  width:33px;
  border:0;
  cursor: pointer;
  line-height:;
  padding-top:5px;
  font-size:1.8em;
}

.newsletter .icon-paper-plane::before{
  font-family: 'icomoon';
  content:"\e91d";
  color:#F1C40F;
}
/* bas de pages */
.sole{
  height:40px;
  background-color:#1F1F1F;
  color:white;
  font-size:0.8em;
  width:1055px;
  padding:0 140px 0 160px;
  border-top:1px #434343 solid;
}

.sole a{
  color:white;
  display: inline-flex;
  margin-top:10px;
  margin-right:30px;
}

.sole a:hover{
  text-decoration: underline;
}

.fleche{
  display:;
}

@media only screen and (max-width: 600px) {
  *{
    box-sizing: border-box;
  }

  body{
    width:100%;
  }

  a{
    font-size:0.7em;
  }

  .haut{
    background-image:url("images/bg-top-xs.jpg");
    background-color: transparent;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    height:30%;
    width:100%;
    padding-left:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }

  header{
    width:100%;
    height:auto;
  }

  .lang{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:#F1C40F;
    padding-top:0;
    width:100%;
    height:30px;
    font-size:0.5em;
  }

  .lang a{
    color:white;
    font-size:1em;
  }



   img.logoagglo{
    height:20px;
    width:auto;
    margin-left:2%;
  }

  .agglo{
    display: flex;
    align-items: center;
    height:25px;
    margin-top:0;
    padding-right:0;
    padding-left:2%;
  }

  .englober{
    display: flex;
    align-self:center;
    height:100%;
    width:37%;
    margin-left:0;
  }

  .ligne_verticale{
    width:1px;
    margin-left:5px;
    margin-right:5px;
    border-left:1px solid white;
    height:8px;

  }

  .language_contact{
    height:30px;
    font-size:1em;
    justify-content: flex-start;
  }

  .contact_lettre{
    display:none;
  }

  .search{
    margin-right:10%;
  }

  .search input{
    display: none;
  }

  .search button{
    margin-top:0;
    border:0;
  }

  nav{
    display: none;
  }

  .iconecacher{
    display: block;
    padding-left:5px;
  }

  .iconecacher a.icoone{
    font-size:1em;
    color: #23A7F1;
    align-self:center;
  }

  .fil_ariane{
    display: none;
  }

  #corps_de_page{
    width:100%;
    height:auto;
    padding-left:2%;
    padding-right:2%;
    margin:0;
  }

  p{
    font-size: 1em;
  }

  #corps_de_page h1{
    font-size: 1em;
  }

  h1 span{
    font-size: 2em;
  }

  hr{
    width:100%;
  }

  .separateur hr{
    width:100%;
  }

  .separateur span hr{
    width:15%;
  }

  p span{
    text-align:left;
    margin-left:2%;
  }

  .lien{
    font-size:1em;
    margin-top:2%;
    margin-bottom:2%;
  }

  .lien img{
    width:3%;
    height:auto;
  }

  .image{
    text-align: center;
    margin:0 auto;
    height:auto;
    margin-bottom:2%;
  }

  .image_lien{
    width:65%;
    font-size:0.9em;
    height:auto;
    margin:0 auto;
    padding:1% 1% 1% 1%;
  }

  /* debut image millieux */
  .opa:hover{
  	opacity:0.7;
  }

  img.opa{
    width:100%;
  }

  .lightbox{
    z-index:4;
  	display:none;
  	background-color:rgba(0,0,0,0.95);
  	width:100%;
  	position:fixed;
  }

  .lightbox img{
  	max-width:100%;
    transform: rotate(90deg);
  }

  /* fin image millieux */

  #sociaux{
    display: none;
  }

  hr.disp{
    display: none;
  }

  footer{
    font-size:0.5em;
    width:100%;
    height:15%;
    padding:0;
  }

  footer h1{
    font-size:1em;
  }

  footer p{
    font-size:0.9em;
  }

  .contact{
    display:flex;
    flex-direction: column;
    width:100%;
    height:10%;
  }

  .logo_footer{
    display:none;
  }

  .adresse{
    order:0;
    margin:2% 2% 2% 2%;
  }

  .liste_sites{
    order:2;
    width:70%;
    height:10%;
    margin:0;
    padding-bottom:2%;
    padding-top:2%;
  }

  .liste_sites ul{
    display:flex;
    justify-content: space-around;
  }

  .liste_sites ul li::before{
    font-family:'icomoon';
    content: "\e918";
  }

  .liste_sites a{
    font-size:1em;
  }

  .titre_liste{
    padding-left:10%;
    width:50%;
    height:10%;
  }

  .newsletter{
    order:1;
    margin-left:2%;
    margin-top:2%;
    width:95%;
  }

  #formulaire{
    width:100%;
    height:20px;
  }

  .newsletter input{
    width:90%;
    height:20px;
    font-size:0.7em;
  }

  .newsletter a{
    padding-top:3px;
    width:25px;
    font-size:1.9em;
  }

  .newsletter p{
    padding-bottom:3px;
  }

  /* bas de pages */
  .sole{
    display: none;
  }

  a.fleche{
    display: block;
    position:fixed;
    background-image: url('images/fleches.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#F1C40F;
    bottom:5px;
    right:5px;
    width:20px;
    height:20px;
  }

}
